[submodule "context.app/Contents/Resources/context processor.app/Contents/Resources/context/memories/CFE10A14-D883-4ACE-990A-0DDA86AA362B"]
	path = context.app/Contents/Resources/context processor.app/Contents/Resources/context/memories/CFE10A14-D883-4ACE-990A-0DDA86AA362B
	url = https://github.com/ccrraaiigg/CFE10A14-D883-4ACE-990A-0DDA86AA362B
